demucs
torchcodec
ffmpeg-python
soundfile>=0.12.1

#chord detector
librosa>=0.10.0
numpy<2.0.0
scipy>=1.10.0
crema>=0.2.0
tensorflow>=2.10.0,<2.16.0
keras>=2.10.0,<3.0.0

# PyTorch for Demucs
torch>=2.0.0
torchaudio>=2.0.0

